###### example:

name = "Sarath", 24,'python' # string

age = 24   # integer
height = 5.6 # float
compl=1+2j # complex

In [7]:

name = "Sarath", 24,'python' # string
age = "45"
# age = 24   # integer
height = 5.6 # float
compl=1+2j # complex

In [8]:
age
type(age)

str

In [17]:
name = input("Enter your name : ")
print("hi,my name is " + name)

Enter your name :  meena

hi,my name is meena

In [16]:
n1 =  int(input("Enter the 1st number :"))
n2 =  int(input("Enter the 2nd number :"))
sum = n1+n2
print(sum)

Enter the 1st number : 56
Enter the 2nd number : 44

100

In [18]:
type(n1)

int

# Data types in python.

numeric

string

list

tuples

dictionary

set

Boolean

In [20]:
# input() function.

#name=input("Enter Your Name:")
#age=input("Enter your age:")

name = int(input("Enter your name"))
print(name)
print(type(name))

Enter your name 56

56
<class 'int'>

In [8]:
# type() function

value = 1
print(type(value))

<class 'int'>

In [18]:
a = 25
print(type(a))

<class 'int'>

In [10]:
x = 15
print(x)
x = x + 10
print(x)

15
25

In [21]:
age  = int(input("ENTER YOUR AGE :"))
print(age)
print(type(age))

ENTER YOUR AGE : 56

56
<class 'int'>

In [41]:
#  datatype convertions.

age=int(input("enter your age:"))

enter your age: 10

In [50]:
a=10
a

10

In [17]:
a="muthu kumar"
a

'muthu kumar'

In [14]:
print(type(age))

<class 'int'>

In [55]:
age=age+3
print(age)

13

In [23]:
height= float(input("enter your height:"))
print(height)
print(type(height))

enter your height: 456.87

456.87
<class 'float'>

In [17]:
print(type(height))

<class 'float'>

In [22]:
# printing variables.
name = "vishnu"
age = 28
height = 5.7
print(name)
print(age)
print(height)

vishnu
28
5.7

In [16]:
print(name,age,height)

Surya 25 165.5

In [8]:
print("Your name is : ", name)
print("your age is:",age)
print("your height is:",height)

Your name is :  45
your age is: 30
your height is: 78.0

In [11]:
name = input("enter your name :")
age = int(input("enter your age :"))
height = float(input("enter your height :"))

enter your name : Santhosh
enter your age : 26
enter your height : 6.5

In [12]:
print("Your name is",name," your age is ",age," your height is ",height)

Your name is Santhosh  your age is  26  your height is  6.5

In [13]:
print(f"Your name is {name} your age is {age} your height is {height}")

Your name is Santhosh your age is 26 your height is 6.5

In [20]:
value=input("Enter your name:")
print("Welcome to tech world!",value)

Enter your name: Mani

Welcome to tech world! Mani