In [4]:
#1. NUMERIC (Numbers)

#Used to store numbers → int, float, complex

a = 10          # integer
b = -25         # negative integer
c = 12.5        # float
d = 3.14        # float
e = 2 + 3j      # complex number

In [ ]:
#2. STRING (Text)

#Text enclosed in single, double, or triple quotes
name = "Divya"
a = 'Python'
b = "Hello World"
c = "12345"       # numbers as string
d = """Multi-line
string example"""

In [ ]:
#3. LIST (Ordered, changeable, allows duplicates)
#Uses square brackets []
a = [10, 20, 30]
b = ["apple", "banana", "cherry"]
c = [10, "Raj", 25.6]
d = [1, 2, 2, 3]         # duplicates allowed
e = [True, False, True]

In [ ]:
#4. TUPLE (Ordered, not changeable, allows duplicates)
#Uses parentheses ()
a = (10, 20, 30)
b = ("red", "green", "blue")
c = (1, 2, 2, 3)         # duplicates allowed
d = (10, "Python", 3.14)
e = (True, False, True)

In [ ]:
#5. DICTIONARY (Key–Value pairs)
#Uses curly braces {}
a = {"name": "Mohan", "age": 20}
b = {"brand": "Apple", "price": 90000}
c = {"city": "Chennai", "pincode": 600001}
d = {"course": "Python", "duration": "2 months"}
e = {1: "One", 2: "Two", 3: "Three"}

In [ ]:
#6. SET (Unique, Unordered, No duplicates)
#Uses curly braces { }
a = {1, 2, 3}
b = {"apple", "banana", "orange"}
c = {10, 20, 30, 10}      # duplicate removed
d = {True, False}
e = {1.5, 2.5, 3.5}

In [ ]:
#7. BOOLEAN (True / False)
#Used for conditions and logic
a = True
b = False
c = (10 > 5)      # True
d = (2 == 3)      # False
e = bool(1)       # True (non-zero numbers = True)

In [ ]:
#mutable--can be change (List,dictionary,set)
#immutable----cannot change (Tuple,Bool,String)