In [5]:
## Python Data Types ##

# Numeric
# string
# List 
# tuple
# Dictionary
# Set 
# Boolean

### Python Data Structure ###

### Python Syntax

In [2]:
#This is comment

name = "35"
print(type(name))

<class 'str'>

In [3]:
## user input method

name=input("Enter your name: ")
print(name)

Enter your name:  mani

mani

In [7]:
#This is comment

#print('This  is a comment')

In [8]:
x = 4
y = 12
z = 8
a = x + y + z

print(a)

24

In [4]:
# Assigning Values to Variables

counter = 1123         # An integer assignment  
miles = 1000.0       # A floating point
name = "vishnu"      # A string  

print(counter)
print(miles)
print(name)

1123
1000.0
vishnu

In [5]:
print(type(name))
print(type(counter))
print(type(miles))

<class 'str'>
<class 'int'>
<class 'float'>

In [3]:
# Multiple Assignment

x,y,z = 10,28,6

print(x)
print(y)
print(z)

10
28
6

In [13]:
x = 10
print(x)

del x
print(x)

10

NameError: name 'x' is not defined

In [6]:
# Python Strings

#indexing method

str1 = 'Welcome to py world!'
print(str1[3:])

come to py world!

In [19]:
print(str1*4)      # Prints string two times

Welcome to py world!Welcome to py world!Welcome to py world!Welcome to py world!

In [20]:
print(str1,"vasan") # Prints concatenated string

Welcome to py world! vasan

In [34]:
list=['Vishnu', 32, 5.6, 123, (1+2j)]
print(list)
print(type(list))

['Vishnu', 32, 5.6, 123, (1+2j)]
<class 'list'>

In [36]:
del list[0]
print(list)
list[0] = "vasan"
print(list*2)

[5.6, 123, (1+2j)]
['vasan', 123, (1+2j), 'vasan', 123, (1+2j)]

In [22]:
print(list)            # Prints complete list
print(list[0])         # Prints first element of the list
print(list[2])       # Prints elements starting from 3rd to 5th
print(list[3])        # Prints list starting from 3rd element
print(list * 2)         # Prints list two times      
                    # Prints concatenated list & tinylist

[32, 5.6, 123, (1+2j)]
32
123
(1+2j)
[32, 5.6, 123, (1+2j), 32, 5.6, 123, (1+2j)]

In [23]:
# List can be updated (write enabled)

a[0]="Vishnu"

print(a)

['Vishnu', 5.6, 123, (1+2j)]

In [39]:
# Python Tuples

tuple1= (786 , 2.23, 'john','abcd', 70.2)


print(tuple1)            # Prints complete tuple
print(tuple1[0])         # Prints first element of the tuple
print(tuple1[2])       # Prints elements starting from 3rd to 5th
print(tuple1[3])        # Prints tuple starting from 3rd element
print(tuple1 * 2)        # Prints tuple two times
# Prints concatenated tuple & tinytuple

(786, 2.23, 'john', 'abcd', 70.2)
786
john
abcd
(786, 2.23, 'john', 'abcd', 70.2, 786, 2.23, 'john', 'abcd', 70.2)

In [40]:
# Tuple is read only

mytuple = "Vishal", 25, 3.14, (1+3j)

del mytuple[1]
print(mytuple)
#print(mytuple[0])
#print(type(mytuple))

TypeError: 'tuple' object doesn't support item deletion

In [2]:

dict1 = {'Muthu': 9645679754,'code':6734, 'dept': 'civil'}
dict1['backend'] = 'Python'

print(dict1)

{'Muthu': 9645679754, 'code': 6734, 'dept': 'civil', 'backend': 'Python'}

In [3]:
## Boolean type ##

a = False
print(a)
print(type(a))

False
<class 'bool'>

In [9]:
## converting method 

x = 10   # int
y = 2.8 # float
z = 3+1j  # complex

#convert from int to float:
x =float(5)
#convert from float to int:
y = int(3.14)
#convert from int to complex:
z = complex(6)

print(x)
print(y)
print(z)

5.0
3
(6+2j)

### Python allows Swapping of Variables with out temp variable

In [10]:
# Python program to swap two variables
# Using a temporary variable

x=5
y=10 


# To take inputs from the user
#x = input('Enter value of x: ')
#y = input('Enter value of y: ')
print('The value of x before swapping: {}'.format(x))
print('The value of y before swapping: {}'.format(y))
# create a temporary variable and swap the values

z=x #5
x=y #10
y=z #5

print(x)
print(y)

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))
# Python program to swap two variables
# With out Using a temporary variable

The value of x before swapping: 5
The value of y before swapping: 10
10
5
The value of x after swapping: 10
The value of y after swapping: 5

In [27]:
a=5
b=1
#print(a)
#print(b)

a,b=b,a
print(a,b)

1 5

In [ ]:
a=10
b=20
a,b=b,a
print(a)
print(b)

In [12]:
x = 5
y = 10
print('The value of x before swapping: {}'.format(x))
print('The value of y before swapping: {}'.format(y))
# The following code swapping but without the use of any temporary variable.
x = y
print("x =", x)
print("y =", y)
print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x before swapping: 5
The value of y before swapping: 10
x = 10
y = 10
The value of x after swapping: 10
The value of y after swapping: 10

### Naresh Doubt Clear -01

In [ ]:
str = 'Hello World!\n'

In [ ]:
print(str * 2)      # Prints string two times

### Naresh Doubt Clear -02

In [ ]:
# Python3 code to demonstrate
# to convert list of string and characters
# to list of characters
# using list comprehension

# initializing list
test_list = ['abcd', 'i', 's', 'be', 's', 't']

# printing original list
print("The original list is : " + str(test_list))

# using list comprehension
# to convert list of string and characters
# to list of characters
res = [i for ele in test_list for i in ele]

# printing result
print("The list after conversion is : " + str(res))

In [ ]:
res

In [ ]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
# Python3 code to demonstrate
# to convert list of string and characters
# to list of characters
# using list comprehension

# initializing list
test_list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]

# printing original list
print("The original list is : " + str(test_list))

# using list comprehension
# to convert list of string and characters
# to list of characters
res = [i for ele in test_list for i in ele]

# printing result
print("The list after conversion is : " + str(res))

In [ ]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
str1 = str(list[2])
str1[1]