# **Types of Operators**


![alt text](https://cdn-images-1.medium.com/max/1200/1*X1uStrlHrq2T6tWvuKSxeA.png)


**The different types of operators supported by Python are as follows:**

1. Arithmetic Operators
2. Relational Operators
3. Logical Operators
4. Bitwise Operators
5. Assignment Operators
6. Identity Operators
7. Membership Operators


---

# **Arithmetic Operators**

Arithmetic operators are used in performing mathematical operations such as **Addition, Subtraction, Multiplication, Division, Modulus, Floor Division, and Exponent**.


![alt text](https://cdn-images-1.medium.com/max/1200/1*CnFBU56b1HIsg2atttE_-Q.png)


## **Example**

Below is the simple python snippet that you can use as a reference:

# Arithmetic operators

In [2]:
A=34
B=6
print(A%B)

result = A+B
print(result)

4
40

In [3]:
print(A+B)
print(A-B)
print(A*B)
print(A/B)
print(A%B)
print(A//B)
print(A**B) # 34^6

40
28
204
5.666666666666667
4
5
1544804416

In [2]:
print(A+B)

8

In [2]:
print(A-B)

28

In [5]:
print(A*B)

204

In [3]:
a=50
b=3
print(a/b)

16.666666666666668

In [4]:
a//b

16

In [5]:
a%b

2

In [18]:
a =49;b=5
a//b

9

In [6]:
a=5;b=3
a**b

125

## **Important Notes**

1. If you divide any number by **0** then you will be prompted by an error called `ZeroDivisionError`.  Don't divide anything by zero (0).

2. The result generated by the division operator will always be **floating number** (represented in decimal points).

3. **Floor division** returns the quotient(answer or result of **division**) in which the digits after the decimal point are removed. But if one of the operands(dividend and divisor) is negative, then the result is floored, i.e., rounded away from zero(means, towards the negative of infinity).

![alt text](https://cdn-images-1.medium.com/max/1200/1*p_BpdHXkMyHgwkXV4tSuig.png)

---


# Relational Operators

Relational Operators
Relational operators or comparison operators as their name suggest are used in comparing the values. The return type of these operators are either True or False. The different comparison operators are Greater than, Greater than or equal to, less than, lesser than or equal to, equal to, and not equal to.


![alt text](https://miro.medium.com/max/1400/1*1PElDsGJozY_dAPcmf8Kqg.png)

## **Example**

Below is the simple python snippet that you can use as a reference:

In [7]:
x = 10
y = 10

print(x == y)
10 != 9

True

True

NameError: name 'value' is not defined

In [8]:
a=10
b=50
a < b

True

In [9]:
a=5
b=7
a==b

False

In [10]:
a != b

True

In [8]:
a=10
b=15

a>=b

False

In [20]:
a >= b

True

# **Logical Operators**


Logical operators are used to **evaluate the conditions** between the operands. The different type of operators are `and`, `or` and `not`.


![alt text](https://miro.medium.com/max/1400/1*pV1plvnbr00q_B5_V-wMdg.png)


To make things more clear you can refer to the truth table of the logical operators given below:

![alt text](https://miro.medium.com/max/1028/1*bnTf9sHiXAZ086dXoL8d_g.jpeg)


## **Example**
Below is the simple python snippet that you can use as a reference:

In [12]:
#a=False 
#b=False

a = True 
print(not a)

False

In [13]:
# And Gate

a = 25
b = 25

a!=b and a<b

False

In [14]:
# OR Gate

a or b

25

In [16]:
# Not Gate
# Formula  ~ x=-x-1    a=-5

x=5  
print(~x)

-6

# **Bitwise Operators**

Bitwise operators operate on operands at a binary level. Meaning the bitwise operator looks directly at the binary digits or binary bits of an integer. Hence the name bitwise (bit by bit operation). The different types of bitwise operators are **Bitwise AND, OR, NOT, XOR, Right Shift, and Left Shift**.

![alt text](https://miro.medium.com/max/1400/1*4O0nEUQpc6r1Fmm3pNVpnA.png)

## **Example**

Below is the simple python snippet that you can use as a reference:

In [18]:
a = 5 #0101
b = 3 #0011

result = a |  b

print(result)

7

In [39]:
# OR Gate
a|b

20

In [2]:
# Not gate or (Once complement)
# ~x=-x-1 (formula)
a=15  
print(~a)

-16

In [4]:
## left shift
a=5 #0101 

result = a >> 1

print(result)

2

In [42]:
## right shift
a=10 
a>>2

2

# **Assignment Operators**

As the name suggests assignments operators are used to **assigning the values to the variables**. Let me give you a simple example.



> ***The value 5 is assigned to the variable ‘a’***

Because the way the assignment operator works is that it assigns the value from the right to the variable on to the left. So remember its **right to left**.

![alt text](https://miro.medium.com/max/1400/1*50jAvLZKuCV_wtp9p5k4Qg.png)


## **Example**

Below is the simple python snippet that you can use as a reference:

In [5]:
## Simple Assignment
a = 15
b = 4
c = a+b
print(c)

19

In [6]:
a=a+1
print(a)
a +=1
print(a)

16
17

In [46]:
a = 5 

a +=10

print(a)

15

In [21]:
a = 10
a == b

print(a)

10

In [7]:
## Multiple Assignment

A,B,C=10,"SUDESH",5

print(A)
print(B)
print(C)

10
SUDESH
5

In [22]:
## Compound Assignment

a=3
b=5
c=4      

b-=-a     # b=b+a
print(b)

8

## **Membership Operators**

Membership operators are used to **verifying whether a particular element** is a **part of a sequence or not**. Now a sequence can be a **list, string, sets, dictionary, and tuples**. The two membership operators are `in` and `not in`.

![alt text](https://miro.medium.com/max/1400/1*t2u2Lb4XtVo-3g6anMBLpw.png)


## **Example**

Below is the simple python snippet that you can use as a reference:

### Membership Test on List

In [11]:
course = ["Python","Java","SQL","SAP"]
print(type(course))
"java" in course

<class 'list'>

False

In [13]:
a=[1,2,3,4,"python"]

10 not in a

True

In [8]:
a="python" 
"t" in a

True

In [57]:
"P" in a

True

In [51]:
"c++" not in course

True

## Membership Test on String

In [14]:
a="python"

"o" in a

True

In [15]:
"s" in a

False

# **Special Operators**

There are two types of special operators in a python programming language as shown below:

## **Identity Operators**

As the name suggests the identity operators compare the **id (identity)** of two or more python objects such as variables, values, and many more. In other words, others say that the identity operator can also be used to **compare the memory locations of two objects**. There are two types of identity operators namely `is` and `is not`.


![alt text](https://miro.medium.com/max/1400/1*IqGzM2dHP97kve6T90omdQ.png)


## **Example**

Below is the simple python snippet that you can use as a reference:

In [38]:
x = 10
y = 10

print(id(x))
print(id(y))

140718130574536
140718130574536

In [17]:
x is y

True

In [34]:
a=35
b=35

In [35]:
print(id(a))
print(id(b))

140718130575336
140718130575336

In [30]:
print(id(x))

140718130574856

In [24]:
a=5
b=5
a is not  b

False

In [67]:
a='JAVA'
b="JAVA"
print(id(a))
print(id(b))

1826416000688
1826416000688