In [1]:
# what is Dictionary
# creating empty dictionary

d={}
print(type(d))

<class 'dict'>

In [1]:
d1={"name":"vishal","age":26,45:35}

print(d1)

{'name': 'vishal', 'age': 26, 45: 35}

In [3]:
lis=[12,34,56,45]
    
print(lis)

d1={"name":"sakthi","city":"chennai",
    "age":20}
print(d1)

[12, 34, 56, 45]
{'name': 'sakthi', 'city': 'chennai', 'age': 20}

In [4]:
a=(1,2,3,4)
  
print(list(a))

[1, 2, 3, 4]

In [6]:
# list as dictionary

a=["name","age","gender"]
b=["vishal",28,"male"]

c=dict(zip(a,b))

print(c)

{'name': 'vishal', 'age': 28, 'gender': 'male'}

In [11]:
# tuple as dictionary

a=("name","age","height")
b=("sakthi",20,5.7)
c=dict(zip(a,b))
print(c)

{'name': 'sakthi', 'age': 20, 'height': 5.7}

In [13]:
a=["name","age"]
b=("sakthi",20)

c=dict(zip(a,b))
print(c)

{'name': 'sakthi', 'age': 20}

In [7]:
a=["name","age"]
b=("sakthi",20)
c=dict(zip(b,a))
print(c)

{'sakthi': 'name', 20: 'age'}

In [8]:
# dict() function

name1=dict(name="vishal",age=20,roll="analyst")

print(name1)

{'name': 'vishal', 'age': 20, 'roll': 'analyst'}

In [15]:
# basic operations -len

l1={'name': 'sakthi', 'age': 20}
print(len(l1))

2

In [10]:
# basic operations -concatenation

c1={'name': 'sakthi'}
c2={'age': 20}
c1+c2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [11]:
# basic operations -reptition

c1={'name':'sakthi'}
c1*3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [12]:
c=[1,2,3]
b=[4,5,6]
print(b*3)

[4, 5, 6, 4, 5, 6, 4, 5, 6]

In [1]:
# accessing dict elements

var={'name': 'vishal', 'age': 20}

print(var["age"])

20

In [2]:
var={'name': 'sakthi','age':23}

var["name"]

'sakthi'

In [3]:
# modifying dict elements

mod={'name': 'sakthi', 'age': 20}

mod["name"]="vishnu"
print(mod)

{'name': 'vishnu', 'age': 20}

In [4]:
# deleting dict elements and enire dictionary

mod={'name': 'sakthi', 'age': 20}

del mod["name"]
print(mod)

{'age': 20}

In [18]:
a={'name': 'sakthi', 'age': 20}
del a
print(a)

NameError: name 'a' is not defined

In [ ]:
# built in methods

In [19]:
# items()

d={"name":"sakthi","age":67,"height":4.5}
d.items()

dict_items([('name', 'sakthi'), ('age', 67), ('height', 4.5)])

In [20]:
# keys()

d={"name":"sakthi","age":67,"height":4.5}
d.keys()

dict_keys(['name', 'age', 'height'])

In [21]:
# values()

d={"name":"sakthi","age":67,"height":4.5}
d.values()

dict_values(['sakthi', 67, 4.5])

In [22]:
# access- get()

d={"name":"sakthi","age":67,"height":4.5}
d.get("name")

'sakthi'

In [31]:
d={"name":"sakthi","age":67,"height":4.5}
d.get("address",1)

1

In [5]:
# update()

d={"name":"sakthi","age":67,"height":4.5}

d.update(height=6.0)

print(d)

{'name': 'sakthi', 'age': 67, 'height': 6.0}

In [6]:
d1={"name":"sakthi","age":67,"height":4.5}

d2={"address":"null"}


d1.update(d2)

print(d1)

{'name': 'sakthi', 'age': 67, 'height': 4.5, 'address': 'null'}

In [7]:
d1={"name":"sakthi","age":67,"height":4.5}
d2={"address":"nil"}


d1.update(d2,FATHERNAME="SHIVA",mothername="santhi",lastname="pooja")

print(d1)

{'name': 'sakthi', 'age': 67, 'height': 4.5, 'address': 'nil', 'FATHERNAME': 'SHIVA', 'mothername': 'santhi', 'lastname': 'pooja'}

In [8]:
# copy()

d1={"name":"sakthi","age":67,"height":4.5}

d2=d1.copy()

print(d2)

{'name': 'sakthi', 'age': 67, 'height': 4.5}

In [37]:
# fromkeys

key=["sarathi","bharath","kannan"]

value=0

dict1={}

result=dict1.fromkeys(key,value)
print(result)

{'sarathi': (0, 100, 10), 'bharath': (0, 100, 10), 'kannan': (0, 100, 10)}

In [38]:
# setdefault()

d={"name":"sakthi","age":67,"height":4.5}

d.setdefault("fname","shiva")
print(d)

{'name': 'sakthi', 'age': 67, 'height': 4.5, 'fname': 'shiva'}

In [39]:

d={"name":"sakthi","age":67,"height":4.5}

d.setdefault("age1",68)

print(d)

{'name': 'sakthi', 'age': 67, 'height': 4.5, 'age1': 68}

In [47]:
#Update

d={"name":"sakthi","age":67,"height":4.5}
d.update(age=90)
print(d)

{'name': 'sakthi', 'age': 90, 'height': 4.5}

In [48]:
d1={"name":"sakthi","age":67,"height":4.5}
d2={"address":"nil","work":"IIT"}

d1.update(d2,company="Google")
print(d1)

{'name': 'sakthi', 'age': 67, 'height': 4.5, 'address': 'nil', 'work': 'IIT', 'company': 'Google'}

In [41]:
# pop()

d={"name":"sakthi","age":67,"height":4.5}
d.pop("name")
print(d)

{'age': 67, 'height': 4.5}

In [42]:
# popitem()

d={"name":"sakthi","age":67,"height":4.5,"company":"pps"}
d.popitem()
print(d)

{'name': 'sakthi', 'age': 67, 'height': 4.5}

In [51]:
# del()

d={"name":"sakthi","age":67,"height":4.5}
del d["name"]
print(d)

{'age': 67, 'height': 4.5}

In [9]:
d={"name":"sakthi","age":67,"height":4.5}
del d
print(d)

NameError: name 'd' is not defined

In [10]:
# clear()

d={"name":"sakthi","age":67,"height":4.5}
d.clear()
print(d)

{}