In [3]:
#FOR LOOP      -----------------------A loop that repeats a block of code a fixed number of times.
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
#FOR LOOP ON LIST
fruits = ["apple", "banana", "mango"]

for f in fruits:
    print(f)

apple
banana
mango

In [6]:
#Print each mark.
marks = [45, 55, 60, 75, 90]

for m in marks:
    print(m)

45
55
60
75
90

In [7]:
#2 WHILE LOOP
#Used when you don’t know how many times, but run until a condition becomes False.
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [9]:
i = 5

while i >= 1:
    print(i)
    i -= 1

5
4
3
2
1

In [11]:
#Sum numbers until total reaches 20
total = 0

while total < 20:
    total += 5
    print("Total =", total)

Total = 5
Total = 10
Total = 15
Total = 20

In [12]:
#What is enumerate()?

#enumerate() is used when you want:

#index (position)
#value (element)

#at the same time while looping.

#Normal for loop (WITHOUT enumerate)
fruits = ["apple", "banana", "mango"]

for f in fruits:
    print(f)

apple
banana
mango

In [13]:
#FOR loop WITH enumerate():
fruits = ["apple", "banana", "mango"]

for index, value in enumerate(fruits):
    print(index, value)

0 apple
1 banana
2 mango

In [14]:
#Print student marks with index
marks = [45, 55, 60, 75, 90]

for i, m in enumerate(marks):
    print("Index:", i, "Value:", m)

Index: 0 Value: 45
Index: 1 Value: 55
Index: 2 Value: 60
Index: 3 Value: 75
Index: 4 Value: 90

In [15]:
#Start index from 1
marks = [45, 55, 60, 75, 90]

for i, m in enumerate(marks, start=1):
    print("Student", i, "scored", m)

Student 1 scored 45
Student 2 scored 55
Student 3 scored 60
Student 4 scored 75
Student 5 scored 90

In [18]:
#NESTED LOOPS 

#A nested loop means a loop inside another loop.




matrix = [
    [1, 2, 3],
    [4, 5, 6]
]

for row in matrix:
    for num in row:
        print(num)

1
2
3
4
5
6

In [20]:
#Print a Table (Rows & Columns)
for row in range(1, 4):        # outer loop → rows
    for col in range(1, 4):    # inner loop → columns
        print(row, col)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3