# Print Statements
## Syntax: print(object,seperator,end)

In [1]:
print("hello world!")
print(45)

hello world!
45

In [ ]:
a=34

In [5]:
a=56
a

56

In [9]:
value1 = "python" 
value2 = "savings"
a=35
b=45
print(value1)
print(value2)
print(a+b)
print(a,b)

print(value1 + value2)
print(value1 , value2)

python
savings
80
35 45
pythonsavings
python savings

In [11]:
# Expected o/p: you're here to learn python
# print(you're here to learn python)
     # don't
print("don't print this ")

don't print this

In [20]:
print('don \'t print this')

don 't print this

In [12]:
print(' "You are here to learn python" ')

 "You are here to learn python"

In [15]:
print('"You are here to learn python"')
print("'You are here to learn python'")

"You are here to learn python"
'You are here to learn python'

In [18]:
# Expected o/p: "you are here to learn python"
# print(""you are here to learn python"")

print(' "You are here to learn python" ')

print("""The temple was constructed during  don't the 10'th Century when "Chidambaram" used to be the capital of the Chola dynasty. The Cholas considered Lord Shiva as Nataraj as their family deity. The Nataraj "temple" has undergone damage, renovation and expansion throughout the 2nd millennium.""")

 "You are here to learn python"
The temple was constructed during  don't the 10'th Century when "Chidambaram" used to be the capital of the Chola dynasty. The Cholas considered Lord Shiva as Nataraj as their family deity. The Nataraj "temple" has undergone damage, renovation and expansion throughout the 2nd millennium.

In [ ]:
# Expected o/p: "you're here to learn python"
# print("you're here to learn python")
# USE the \ (escape sequence)

print(' "you\'re to learn python" ')

In [21]:
# Expected o/p: 
# Welcome 
# To 
# PYTHON
# \n (newline)

#print("Welcome\nTo\nPYTHON")
print("Welcome To PYTHON")

print("Welcome\nto\nPython")

Welcome To PYTHON
Welcome
to
Python

In [22]:
# Expected o/p:# \t(create a space)
#                 Name         :     Manikandan
#                 Gender       :     Male
        
            
    
print("name\t\t:\tvishnu") 
print("gender\t\t:\tmale")

name		:	vishnu
gender		:	male

In [ ]:
# Expected o/p:

# use three print statement to get out output welcome to gurukula in a single line.
# welcome to PYTHON
#     * python series.
#     * Tips and tricks

__♥__♥_____♥__♥___ Put This
_♥_____♥_♥_____♥__ Heart
_♥______♥______♥__ On Your
__♥_____/______♥__ Page If
___♥____\_____♥___ You Had
____♥___/___♥_____ Your Heart
______♥_\_♥_______ Broken
________♥_________…………….

In [23]:
print("""__♥__♥_____♥__♥___ Put This
_♥_____♥_♥_____♥__ Heart
_♥______♥______♥__ On Your
__♥_____/______♥__ Page If
___♥____\_____♥___ You Had
____♥___/___♥_____ Your Heart
______♥_\_♥_______ Broken
________♥_________…………….""")

__♥__♥_____♥__♥___ Put This
_♥_____♥_♥_____♥__ Heart
_♥______♥______♥__ On Your
__♥_____/______♥__ Page If
___♥____\_____♥___ You Had
____♥___/___♥_____ Your Heart
______♥_\_♥_______ Broken
________♥_________…………….

In [24]:
print("""__♥__♥_____♥__♥___ Put This
_♥_____♥_♥_____♥__ Heart
_♥______♥______♥__ On Your
__♥_____/______♥__ Page If
___♥____\_____♥___ You Had
____♥___/___♥_____ Your Heart
______♥_\_♥_______ Broken
________♥_________…………….""")

__♥__♥_____♥__♥___ Put This
_♥_____♥_♥_____♥__ Heart
_♥______♥______♥__ On Your
__♥_____/______♥__ Page If
___♥____\_____♥___ You Had
____♥___/___♥_____ Your Heart
______♥_\_♥_______ Broken
________♥_________…………….

In [ ]:
## variable ##
# assigning a value to a variable.

In [29]:
student_age = 56

print("vishnu")

vishnu

In [42]:
name="vishnu"
a=str(78)

b='analytics'
c='devloper'
d='Testing'
print(a+b)
print(name,b,c,d)

78analytics
vishnu analytics devloper Testing

In [38]:
a=34
A=20
print(a)

print(a+A)

34
54

In [ ]:
#  It should start with alphabet or underscore()

my_num = 24

print(_num)

In [ ]:
# It should not start with numerical value.

age1=24
age2=25

print(age2)

In [ ]:
# It can be Alphanumeric.
a1=10
print(a1)

In [ ]:
#  It is case sensitive.

A=26
a=25

print(a)
print(A)

In [ ]:
first_name = "G"
last_name = "MuthuKumar"
print(last_name,first_name)

In [ ]:
# no key words should be used.

# pass, break, continue.. etc are reserved for special meaning in Python.

# So, we should not declare keyword as a variable name.
# print if while for...,
# if,else,for,while,print,True,False,def,class,import,type,float,int,complex,input,in
# break,pass,continue,range,from,not,is,open,notin,str,dict,tuple,list,set,len,sum,max,min,elif
# global,return,super,as

In [ ]:
print1 = "muthukumar"
print(print1)