In [1]:
#Create a tuple and print it
colors = ("red", "blue", "green")
print(colors)

('red', 'blue', 'green')

In [2]:
#Access elements using index
fruits = ("apple", "banana", "mango")
print(fruits[0])     # apple
print(fruits[2])     # mango

apple
mango

In [3]:
#Check the length of a tuple
items = ("pen", "pencil", "eraser")
print(len(items))

3

In [4]:
#Slice a tuple (print part of it)
nums = (10, 20, 30, 40, 50)
print(nums[1:4])

(20, 30, 40)

In [5]:
#Check if an item exists in a tuple
days = ("Mon", "Tue", "Wed")
print("Tue" in days)

True

In [6]:
#Count occurrences in a tuple
data = (1, 2, 2, 3, 4, 2)
print(data.count(2))

3

In [7]:
#Find the index of an item
cities = ("Delhi", "Mumbai", "Chennai")
print(cities.index("Mumbai"))

1

In [8]:
#Loop through a tuple
animals = ("dog", "cat", "cow")
for a in animals:
    print(a)

dog
cat
cow

In [9]:
#Check in a tuple
numbers = (10, 20, 30)
print(20 in numbers)  
print(50 in numbers)

True
False

In [10]:
#t = (1, 2, 2, 3, 2)
print(t.count(2))

3

In [11]:
t = (1, 2, 2, 3, 2)
print(t.count(2))

3

In [12]:
#len(tuple) – Number of elements
t = (10, 20, 30, 40)
print(len(t))

4

In [13]:
#max(tuple) – Largest element
t = (5, 10, 2, 8)
print(max(t))

10

In [16]:
#min(tuple)	-------------------Smallest element
#sum(tuple)	------------------Sum of all elements
print(min(t))
t = (1, 2, 3, 4)
print(sum(t))

1
10

In [17]:
#tuple(iterable) – Convert iterable to tuple
lst = [1, 2, 3]
t = tuple(lst)
print(t)

(1, 2, 3)

In [18]:
#tuple.index(value) – Index of first occurrence
t = (10, 20, 30, 20)
print(t.index(20))

1

In [19]:
#tuple.count(value) – Count of a value
t = (1, 2, 2, 3, 2)
print(t.count(2))

3